
*,
*:before,
*:after {

  font-family:Lato;

  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to right top, #1d2671, #572676, #822675, #a62a6f, #c33764);  
  background-repeat:no-repeat;
  min-height:100em;
  color:white;
  
  
}

.container
{
  
  color:white;


  display:flex;
  justify-content:center;
  width:100%;
 
}

.card-container{
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1100px)  
{
  .nav-list
  {
    min-width:1000px;

  }

}

.nav-list, .card
{
  background: rgb(38, 41, 51);
  box-shadow:2px 2px 18px #272727;
}

.nav-list
{
  
  margin-right:10px;
  margin-left:10px;
  padding: 1rem 0;
  border-radius: 0.7rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:100%;
  
}



.nav-item {
  list-style: none;
  margin-right: 2rem;
  cursor:pointer;

}


.card
{
  border-radius: 0.7rem;
  background-color:rgb(38, 41, 51);
  min-width:500px;
  min-height:500px;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
  transition: ease-in;
  
}

.text-box
{
  border-radius: 0.3rem;
  width: 80%;
  border: 2px solid #1d2671;
  height: 50px;

}

.card-container
{
  padding-top:50px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
 
}

.nav-item a
{
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: #dbdbdb
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.btn-primary {
  font-family: Lato, sans-serif;
  font-size: 1rem;
  background: #ffffff;
  color:black;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  
  outline-color:white;
  outline-style: solid;
  outline-width: 1px;
  
}

.btn-primary:hover {
  background: rgb(38, 41, 51);
  color:white;
  outline-width: 2px;
  transition:ease-in;
  transition-duration: 0.1s;
}

